@value makerEnglish, makerKorean from '../../common/font.css';

.addForm {
  width: 100%;
  display: flex;
  padding: 1.4rem 1rem;
  background-color: var(--color-bg-dark);
}

.addInput {
  flex: 1 0 auto;
  border: none;
  outline: none;
  background-color: var(--color-bg-light);
  padding: 0.4rem 1rem;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.addInput::placeholder {
  font-family: makerEnglish;
  background-color: var(--color-bg-light);
}

.addBtn {
  background-color: var(--color-accent);
  padding: 0.3rem;
  font-family: makerEnglish;
  font-weight: bold;
  padding: 0, 2rem;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
}
