@value makerEnglish from '../../common/font.css';

.contain {
  display: flex;
  justify-content: space-between;
}

.img {
  display: flex;
}

.filter {
  display: flex;
}

.filter > button,
.darkmodeBtn {
  margin: 0.5rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: makerEnglish;
}
