li {
  list-style: none;
}

.App {
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
}

.toDoList {
  display: flex;
  justify-content: space-around;
}

.addToDo {
  display: flex;
  justify-content: center;
}
